@model List<AlbumPhoto.Models.Poza>

@{
    ViewBag.Title = "Album Foto";
}

<h2 class="title">@ViewBag.Title</h2>

<div class="action-bar">
    @using (Html.BeginForm("IncarcaPoza", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" />
        <input type="submit" value="Incarca" />
    }
</div>
@foreach (var poza in Model)
{
    <div class="poza">
        <div class="thumbnail">
            @if (!string.IsNullOrWhiteSpace(poza.ThumbnailUrl))
            {
                <img src="@poza.ThumbnailUrl"/>
            }
            else
            {
                <span>no thumbnail</span>
            }
        </div>
        <div class="details">
            <h3 class="description">@poza.Description</h3>

            @if(!string.IsNullOrWhiteSpace(poza.Url))
            {
                <a href="@poza.Url">Descarca</a><br />
                using (Html.BeginForm("AddComment", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="hidden" value="@poza.Description" name="Picture" />
                    <input type="hidden" value="@System.Environment.MachineName" name="By" />
                    <input type="text" name="Comentariu" />
                    <input type="submit" value="Adauga Comentariu" />
                }
                using (Html.BeginForm("GetComments", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="hidden" value="@poza.Description" name="Picture" />
                    <input type="submit" value="Vizualizare Comentarii" />
                }
                using (Html.BeginForm("GetLink", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="hidden" value="@poza.Description" name="Picture" />
                    <input type="submit" value="Obtine link" />
                }
            }
            else
            {
                <span>no download URL</span>
            }
            
        </div>
    </div>
}
